@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans');

*{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: impact, "Times New Roman", Times, serif;
}
section h1 {
	font-family: 'Alegreya', serif;
}

section {

}
article p {
  font-weight:100;
  font-size:150%;
	font-family: 'Open Sans', sans-serif;
}

footer {
  font-weight: bold;
  font-style:italic;
}
